/* LAYOUT */

body {
  margin: 0;
}

.tool form {
    display: inline;
}

textarea {
    height: 80%;
    margin: 0px;
    border: 0px solid #000;
    border-bottom: 1px solid #aac;
    background-color: #fff;
}

#header .title {
    padding: 5px;
    font-weight: bold;
}

#header .page-tools .tool, #footer .page-tools .tool {
    padding: 5px;
    display: inline;
}

.edit-tools {
    padding: 5px;
}

#content a[href ^="http"], a[href ^="http"].external-link {
    color: #36b;
    background: url(/static/images/external.png) center right no-repeat;
    padding-right: 13px;
}

/*
#content h1 a[href ^="/"]:link, #content h1 a[href ^="/"]:visited {
    color: black;
    text-decoration: none;
}
*/

#footer, #header {
    border-top: 1px solid #aac;
    border-bottom: 1px solid #aac;
    background-color: #eef;
    padding: 4px;
    padding-left: 10px;
}

/* DECORATION */

#header ul, #footer ul {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

#content a:link {
    color: #00E;
    border-bottom: 1px dotted #00E;
}

#content a:visited {
    color: #551a8b;
    border-bottom: 1px dotted #551a8b;
}

#content a.missing:link, #content a.missing:visited {
    background-color: #FFE;
    color: #887;
    border-bottom: 1px dotted #887;
}

/*
#header .top {
  height: 33px;
  position: relative;
}

#header .top .title {
  position: absolute;
  top: 5px;
  left: 6px;
}

#header .top .title img {
  width: 211px;
  height: 26px;
  border: 0;
}

#header .top .login {
  position: absolute;
  top: 7px;
  right: 7px;
}

#header .top .login .nickname {
  font-weight: bold;
}

#header .bottom {
  clear: both;
  background-color: #c3d9ff;
  padding: 3px;
  padding-left: 5px;
  padding-right: 7px;
}

#header .bottom .attribution {
  float: right;
  padding-top: 3px;
  padding-right: 4px;
}

#header .bottom .buttons .item {
  margin-right: 4px;
}

#body {
  clear: both;
  margin: 30px;
  margin-top: 20px;
  position: relative;
}

#footer {
  margin-top: 4em;
}
*/

/*
a.button, input[type^="submit"], input[type^="button"] {
  margin: 0;
  padding: 2px 5px 2px 5px;
  font-family: Arial, Sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #222;
  cursor: default;
  background: #ddd url("/static/images/button-background.gif") repeat-x 0 0;
  border: 1px solid #aaa;
}

a.button:hover, input[type^="submit"]:hover, input[type^="button"]:hover {
  border-color: #9cf #69e #69e #7af;
}
*/
