<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>{% block title %}{{ application_name }}{% endblock %}</title>
    <link href="/static/css/base.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/chrome.css" rel="stylesheet" type="text/css"/>
    <script src="http://www.google.com/jsapi"></script>
    <script>
        google.load("prototype", "1.6.0.3");
    </script>
    <script type="text/javascript">
      function SubmitNewPageForm() {
        var page_name = $('NewPageName').value;
        if (page_name.length == 0) {
          return false;
        }
        if (page_name.length == 1) {
          alert("Sorry, one-character urls are reserved.");
          return false;
        }
        var i = 0;
        // don't allow wiki pages with leading slashes
        while (page_name.charAt(i) == '/') {
          i++;
        }
        page_name = "-".times(i) + page_name.substring(i);
        location.href = '/' + page_name + "?mode=edit";
        return false;
      }
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
      <div id="header">
        <ul class="page-tools">
            <li class="tool">
                <a class="title" href="/">lilwiki</a>
            </li>
            <li class="tool">
              {% if user %}
                <span class="item nickname">{{ user.nickname }}</span> |
                <span class="item"><a href="{{ logout_url|escape }}">Sign out</a></span>
              {% else %}
                <span class="item"><a href="{{ login_url|escape }}">Sign in</a></span>
              {% endif %}
            </li>
            <li class="tool">
            <form onsubmit="SubmitNewPageForm(); return false;">
                <input type="text" id="NewPageName" name="NewPageName" value=""/>
                <input type="submit" value="New Page"/>
            </form>
            {% block buttons %}{% endblock %}
            </li>
        </ul>

      </div>

    </div>
    <div id="content" style="clear: both;">{% block body %}{% endblock %}</div>
    {% if page.entity %}
    <div id="footer">
        <div class="attribution">
            Last edited on {{ page.entity.modified|date:"D, M j, Y \a\t P" }} GMT
        </div>
    </div>
    {% endif %}
  </body>
  {% block script %}{% endblock %}
</html>
