{% extends "base.html" %}

{% block title %}{{ application_name }} - {{ page.name|escape }} - Edit{% endblock %}

{% block body %}
  <form action="{{ page.edit_url|escape }}" method="post">
    <div><textarea rows="10" cols="50" id="content" style="width: 100%; height: 400px" name="content">{{ page.content|escape }}</textarea></div>
    <div class="edit-tools">
      <span class="tool"><input style="font-weight: bold" type="submit" value="Save Changes"/></span>
      <span class="tool"><a href="{{ page.view_url|escape }}">Cancel</a>
    </div>
  </form>
{% endblock %}
